<template>
    <div class="container">
        
        <div class="columns">

            <div class="column is-narrow">
            
                <category-tree></category-tree>

            </div>

            <div class="column">

                <router-view></router-view>

            </div>

        </div>

    </div>
</template>

<script>

    import CategoryTree from './components/CategoryTree';

    export default {
        components: {
            CategoryTree
        }
    }
</script>
