// Variables
@import 'variables';

// Bulma
@import "node_modules/bulma/bulma";

body {

    padding: 3rem;
}

.is-loading {

	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(white, 0.72);
		z-index: 2;
	}

	&:after {
		content: "";
		animation: spinAround .5s infinite linear;
		border: 2px solid #dbdbdb;
		border-radius: 290486px;
		border-right-color: transparent;
		border-top-color: transparent;
		display: block;
		height: 1em;
		position: absolute;
		width: 1em;
		z-index: 4;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}
}