<template>
    <aside class="menu" :class="{'is-loading': is_loading}">
        
        <div class="menu-label">
            <router-link to="/">
                <span class="icon"><i class="fas fa-home"></i></span>
            </router-link> 
            List of categories
        </div>

        <ul class="menu-list">

            <category-tree-item 
                v-for="item in list" 
                :key="item.id" 
                :item="item"
            ></category-tree-item>

        </ul>

    </aside>
</template>

<script>

    import CategoryTreeItem from './CategoryTreeItem';

    import { getCategories } from '../api';

    export default {
        components: {
            CategoryTreeItem
        },
        data() {

            return {
                is_loading: false,
                current_id: null,

                list: []
            }
        },
        created() {
            
            this.fetchData();
        },
        methods: {

            fetchData() {

                this.is_loading = true;

                getCategories()
                    .then((data)=>{

                        this.is_loading = false;

                        this.list = data.data;
                    })
                    .catch((err)=>{

                        console.error('Error loading categories', err);

                        this.is_loading = false;
                    });
            }
        }
    }
</script>

<style lang="scss">
    
    .menu {
        width: 20rem;
    }

</style>