<template>
    
    <li v-if="item" :class="{'has-children': hasChildren}">

        <router-link 
            v-if="!hasChildren"
            :to="{name: 'category', params: {id: this.item.id}}"
        >
            {{ item.title }}
        </router-link>
        <a v-else @click.prevent="onClick">{{ item.title }}</a>
        
        <ul v-if="hasChildren" v-show="!is_collapsed">
                
            <li v-for="subitem in item.children" :key="subitem.id">

                <category-tree-item :item="subitem" @expand="onExpand"></category-tree-item>

            </li>

        </ul>

    </li>

</template>

<script>

    import CategoryTreeItem from './CategoryTreeItem';

    export default {
        name: 'CategoryTreeItem',
        components: {
            CategoryTreeItem
        },
        props: {
            item: {
                type: Object,
                default() {
                    return null;
                }
            }
        },
        data() {

            return {
                is_collapsed: true
            }
        },
        computed: {

            hasChildren() {

                return this.item.children && this.item.children.length > 0;
            },
            isCurrent() {

                return this.$route.name == 'category' && this.$route.params.id == this.item.id;
            }
        },
        created() {

            if(this.isCurrent) {

                this.onExpand();
            }
        },
        methods: {

            onClick() {

                this.is_collapsed = !this.is_collapsed;
            },
            onExpand() {

                this.is_collapsed = false;
                this.$emit('expand');
            }
        }
    }
</script>

<style lang="scss" scoped>
    
    .has-children {

        & > a {
            &:after {
                content: '›';
                margin-left: 1rem;
                display: inline-block;
                transform: rotate(90deg);
            }
        }
    }

    .router-link-active {
        color:#3298dc;
    }

</style>