<template>

    <div class="products" :class="{'is-loading': is_loading}">
    
        <div class="columns is-multiline" v-if="list.length > 0">

            <div 
                class="column is-4" 
                v-for="item in list" 
                :key="item.id"
            >
                <div class="products__item card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                             <img :src="item.image" :alt="item.title" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p class="title is-5">{{ item.title }}</p>
                            <div class="has-text-grey-dark is-size-7" v-html="item.description"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div v-else class="has-text-centered">category has no products</div>

    </div>

</template>

<script>

    import { getProducts } from '../api';


    export default {
        data() {

            return {

                is_loading: false,

                // category_id: null,

                list: []
            }
        },
        computed: {

            category_id() {

                return this.$route.params.id;
            }
        },
        watch: {

            category_id(_val) {

                this.fetchData();
            }
        },
        beforeRouteUpdate(to, from, next) {
            
            // this.category_id = to.params.id;    

            next();
        },
        created() {

            if(this.category_id) {
                this.fetchData();
            }
        },
        methods: {

            fetchData() {

                this.is_loading = true;

                getProducts(this.category_id)
                    .then((data)=>{

                        this.is_loading = false;

                        this.list = data;

                    })
                    .catch((err)=>{

                        this.is_loading = false;

                        console.error(`Error loading products from category_id=${this.category_id}`, err);
                    });
            }
        }
    }
</script>

<style lang="scss">
    
    .products__item {
        height: 100%;
    }

</style>
